/*//////////////////////////////////////
//  imports
//////////////////////////////////////*/
/* line 5, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../build/sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*//////////////////////////////////////
//  colors
//////////////////////////////////////*/
/*//////////////////////////////////////
//  fonts
//////////////////////////////////////*/
/*//////////////////////////////////////
//  extension on skeleton
//////////////////////////////////////*/
/* line 37, ../../build/sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../../build/sass/partials/_base.scss */
.block {
  *zoom: 1;
}
/* line 17, ../../build/sass/bourbon/addons/_clearfix.scss */
.block:before, .block:after {
  content: " ";
  display: table;
}
/* line 23, ../../build/sass/bourbon/addons/_clearfix.scss */
.block:after {
  clear: both;
}

/* line 46, ../../build/sass/partials/_base.scss */
.disable-hover {
  pointer-events: none;
}

/* line 50, ../../build/sass/partials/_base.scss */
b, strong {
  font-weight: 700;
}

/* line 54, ../../build/sass/partials/_base.scss */
i, em {
  font-style: italic;
}

/* line 58, ../../build/sass/partials/_base.scss */
input:focus, textarea:focus, button {
  outline: none;
}

/* line 62, ../../build/sass/partials/_base.scss */
button, input[type="submit"] {
  cursor: pointer;
}

/* line 66, ../../build/sass/partials/_base.scss */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
}

/*//////////////////////////////////////
//  mixins
//////////////////////////////////////*/
/*//////////////////////////////////////
//  silent classes
//////////////////////////////////////*/
/* line 96, ../../build/sass/partials/_base.scss */
.block {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 113, ../../build/sass/partials/_base.scss */
.new-photos {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 122, ../../build/sass/partials/_base.scss */
.upload-photo button {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/* line 133, ../../build/sass/partials/_base.scss */
body, html {
  display: block;
  height: 100%;
}

/* line 138, ../../build/sass/partials/_base.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 142, ../../build/sass/partials/_base.scss */
body {
  font-size: 62.5%;
  position: relative;
}

/* line 3, ../../build/sass/screen.scss */
body {
  padding-bottom: 40px;
  background-color: #E6E6E6;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* line 10, ../../build/sass/screen.scss */
header {
  background-color: #1a134c;
  height: 80px;
  position: relative;
  display: block;
  z-index: 9;
  pointer-events: none;
}
/* line 17, ../../build/sass/screen.scss */
header .logo {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: auto;
  bottom: auto;
  left: -12px;
  width: 100px;
  height: 100px;
  pointer-events: none;
}
/* line 24, ../../build/sass/screen.scss */
header div {
  color: #fff;
  position: absolute;
  top: 48%;
  right: auto;
  bottom: auto;
  left: 100px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 28, ../../build/sass/screen.scss */
header div h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}
/* line 33, ../../build/sass/screen.scss */
header div time {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
}
/* line 37, ../../build/sass/screen.scss */
header div time sup {
  font-size: .7em;
  position: relative;
  top: -.5em;
}

/* line 47, ../../build/sass/screen.scss */
.gallery ul img {
  width: 100%;
}

@-webkit-keyframes spinBaby {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinBaby {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinBaby {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinBaby {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 61, ../../build/sass/screen.scss */
.upload-photo {
  background-color: #1a134c;
  position: fixed;
  top: auto;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 45px;
}
/* line 65, ../../build/sass/screen.scss */
.upload-photo button {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #e97770;
}
/* line 71, ../../build/sass/screen.scss */
.upload-photo svg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 0px;
  height: 0px;
  position: relative;
  top: -6px;
  left: -4px;
  padding: 4px;
}
/* line 78, ../../build/sass/screen.scss */
.upload-photo svg use {
  fill: #fff;
}
/* line 82, ../../build/sass/screen.scss */
.upload-photo .icon-camera {
  top: 4px;
  width: 45px;
  height: 45px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 87, ../../build/sass/screen.scss */
.upload-photo .icon-spinner {
  -webkit-animation: spinBaby 1s linear infinite;
  -moz-animation: spinBaby 1s linear infinite;
  animation: spinBaby 1s linear infinite;
}
/* line 90, ../../build/sass/screen.scss */
.upload-photo .upload.loading {
  pointer-events: none;
}
/* line 92, ../../build/sass/screen.scss */
.upload-photo .upload.loading .icon-camera {
  width: 0px;
  height: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 96, ../../build/sass/screen.scss */
.upload-photo .upload.loading .icon-spinner {
  width: 45px;
  height: 45px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 103, ../../build/sass/screen.scss */
.upload-photo-form {
  display: none;
}

/* line 107, ../../build/sass/screen.scss */
.new-photos {
  width: 100%;
  height: 0px;
  background-color: #009A25;
  color: #fff;
  font-size: 15px;
  z-index: 10;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px;
  *zoom: 1;
}
/* line 17, ../../build/sass/bourbon/addons/_clearfix.scss */
.new-photos:before, .new-photos:after {
  content: " ";
  display: table;
}
/* line 23, ../../build/sass/bourbon/addons/_clearfix.scss */
.new-photos:after {
  clear: both;
}
/* line 120, ../../build/sass/screen.scss */
.new-photos.active {
  height: 40px;
  padding: 12px;
}

/* line 126, ../../build/sass/screen.scss */
#photos {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

/*# sourceMappingURL=screen.css.map */
